<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InstantBuyItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.InstantBuyItem">
        <id column="item_id" property="itemId" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="initial_price" property="initialPrice" />
        <result column="buy_price" property="buyPrice" />
        <result column="sell_point" property="sellPoint" />
        <result column="create_time" property="createTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

</mapper>
